# RabbitMQ Configuration
CLUSTER_NAME=local
RABBITMQ_URI=amqp://guest:guest@cl-back-rabbit:5672

# PostgreSQL Configuration
PGHOST=postgres
PGPORT=5432
PGDATABASE=cl2_back_development
PGUSER=postgres
PGPASSWORD=postgres

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1
AWS_S3_CLUSTER_BUCKET=cl2-tenants-development
AWS_S3_CLONE_BUCKET=cl2-tenant-cloning
AWS_S3_COPY_THREADS=20

# Sentry Configuration (Optional)
# SENTRY_DSN=https://examplePublicKey@sentry.hq.citizenlab.co/0
# SENTRY_ENVIRONMENT=production
